extends ../layouts/layout

block content
  h1 Datos Científicos: #{datos.nombre}
  p= datos.descripcion

  if datos.data
    table
      thead
        tr
          th Campo
          th Valor
      tbody
        each val, key in datos.data
          tr
            td= key
            td= val
  else
    p No se encontraron datos detallados para este objeto.

  a(href="/catalogo") ← Volver al catálogo
