extends ../layouts/layout

block content
  h1= detalle.id

  if detalle.imagenes && detalle.imagenes.length
    each img in detalle.imagenes
      img(src=img, style="max-width: 100%; margin-bottom: 1rem")

  p= detalle.descripcion || 'Sin descripción disponible'
  a.back-button(href='/') Volver al catálogo