extends ../layouts/layout

block content
  h1 Enciclopedia Celeste Interactiva
  p Bienvenido al catálogo astronómico más completo.

  a(href="/catalogo") 
    h1 Prueba catalogo
  a(href="/nasa")
    h1 Prueba buscador de imagenes